body{
    background: #000;
}

.block{
    position: relative;
}

.block__text{
    color: white;
    font-size: 30px;
}

.figures__rectangle{
    display: flex;
    justify-content: start;
    background: #fff;
    position:fixed;
    left: 50%;
    right: 50px;
    height: 100px;
    bottom: 50px;
    border-radius: 10px;
}

.figures__circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    position: absolute;
    top: -50px;
    left: 100px;
}
