body{
    background: #000;
}

.block{
    position: relative;
}

.block__text{
    color: white;
    font-size: 30px;
}

.figures{
    width: 50%;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
    bottom: 100px;
}

.figures__rectangle{
    display: flex;
    justify-content: start;
    background: #fff;
    max-width: 100%;
    height: 100px;
    border-radius: 10px;
    right: 0;
    margin-right: 50px;
}

.figures__circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    position: relative;
    top: -150%;
    left: 100px;
    /* bottom: 150%; */
}