body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper_title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.title::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -150px;
    width: 100px;
    height: 100px;
    background: #ea2a2a;
    border-radius: 1000px;
    border: 3px solid #fff;
}

.title{
    text-align: center;
    position: relative;
    display: block;
}

.title::after {
    content: '';
    position: absolute;
    top: -12px;
    right: -150px;
    width: 100px;
    height: 100px;
    background: #2a2aea;
    border-radius: 1000px;
    border: 3px solid #fff;
}
