body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ========================================================================================== */
.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    background: #ffffff;
    border-radius: 100px;
    color: #2766ae;
    padding: 14px 30px;
    font-weight: 500;
}

/* ========================================================================================== */
.hero {
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
    height: 508px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 159px;
}

.hero-text {
    width: 389px;
    height: 159px;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-text span {
    text-transform: uppercase;
    font-weight: 700;
    color: #01a2cb;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 320px;

}

.hero-button-one,
.hero-button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 100px;
    padding: 18px 30px 18px 30px;
    font-weight: 500;
    line-height: 20px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
}

.hero-button-two {
    background: linear-gradient(129.14deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
    gap: 4px;
}


/* ========================================================================================== */
.cards {
    padding: 120px 0;
}

.cards .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 568px;

}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cards-text {
    max-width: 513px;
    height: 48px;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-wrap-style: balance;
}

.cards-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

.cards-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 204px;
    height: 141px;
    box-sizing: border-box;
    border: 2px solid rgba(23, 107, 174, 1);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgba(25, 124, 184, 1);
    padding: 28px;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.cards-flex-text {
    width: 144px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-wrap-style: balance;
    text-align: center;
}

.cards-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 436px;
    height: 56px;
    border-radius: 100px;
    padding: 18px 30px 18px 30px;
    font-weight: 500;
    line-height: 20px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
    margin-top: 30px;
}

/* ========================================================================================== */
.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
    height: 361px;
}

.footer-inner {
    display: flex;
    height: 241px;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-desc p{
    text-wrap-style: balance;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-col {
    max-width: 204px;
    margin-right: auto;
    width: 100%;
}

.footer-col-margin{
    margin-right: 28px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;

}
