:root{
    --white-text: #f8fcff;
    --accent-text: #1D6FB6;

}

body {
    background: var(--white-text);
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 125%;
    color: #25282B;
}

.container {
    max-width: 1230px;
    /* ширина контейнера 1200px + 30px padding */
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ======================================== HEADER ============================================ */
.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-items: center;
    align-content: center;
}

.header__logo {
    min-width: 54px;
}

.header__socials {
    justify-content: end;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}
/* ======================================== MAIN ============================================ */
.main {}

.hero {
    position: relative;
    padding: 120px 0;
    line-height: 1.5;
    color: var(--white-text);
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 18px;
    transition: all .5s;
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item:hover {
    color: var(--accent-text);
}

.hero__list-item path {
    transition: all .5s;
}

.hero__list-item:hover path {
    fill: var(--accent-text);
}

.hero__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #102e49cc;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20px/16px);
    color: var(--accent-text);

    width: 100%;
    max-width: 288px;
    height: 56px;
    background: #D0DCE7;
    border-radius: 100px;
    transition: all .5s;
    cursor: pointer;
}

.button:hover {
    color: var(--white-text);
    background: #83add3;
}

/* ============================================================================== */
.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.main__sidebar{
    position: sticky;
    top: 5vh;
}

.main__body {
    max-width: 792px;
    width: 100%;
}

.main__galery {
    margin-bottom: 120px;
}

.sidebar {
    font-weight: 500;
    border: 2px solid #d0dce7;
    padding: 30px;
    max-width: 282px;
    width: 100%;
    height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}
/* ===================================================================== */
.galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    font-weight: 500;
}

.galery__img {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 100%;
}

.galery__img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.galery__img--large-left {
    grid-column: 1/ 3;
    grid-row: span 2;
}

.galery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.galery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s;
}

.galery__img:hover .galery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.galery__img--large-left .galery__hint,
.galery__img--large-right .galery__hint {
    height: 103px;
    line-height: 29px;
    font-size: 24px;
}

/* ====================================================================================================== */
.products {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.products__item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    top: 12.6%;
    left: 0;
    border-radius: 0px 100px 100px 0px;
    background: var(--white-text);
    padding: 18px 15px;
    min-width: 33.9%;
    color: var(--accent-text);
    text-align: center;
    font-weight: 500;
    animation: badge-action 2s infinite alternate;
}

@keyframes badge-action {
    0% {
        min-width: 33.9%;
    }
    66.666%{
        min-width: 33.9%;
    }
    100% {
        min-width: 37.3%;
    }
}

.products__item-body {
    border: 1px solid #D0DCE7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* ===================================== FOOTER============================================ */
.footer {
    text-align: center;
    background: #788088;
    min-height: 80px;
    padding: 30px 0;
    color: var(--white-text);
}

.footer__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer svg{
    vertical-align: sub;
}
